{% extends 'base.html.twig' %}

{% block title %}Persons index{% endblock %}

{% block body %}
    <h1>Persons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.nis }}</td>
                <td>
                    <a href="{{ path('app_persons_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('app_persons_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_persons_new') }}">Create new</a>
{% endblock %}
